body {
  color: white;
  font-family: Roboto;
}

.main_container {
  display: flex;
  height: 100vh;
  padding: 25px;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.3));
  background-size: cover !important;
  background-repeat: no-repeat;
}

.header {
  flex: 1;
}

.tv_show_detail {
  flex: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  padding: 10px;
  border-radius: 7px;
}

.recommandations {
  /* flex: 2; */
  margin-top: 10px;
  height: 230px;
  overflow-x: hidden;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.87); */
  background: linear-gradient(
    rgba(247, 241, 166, 0.808),
    rgba(212, 208, 150, 0.418)
  );
}
